@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 3% 13%; /* #212124 */
    --foreground: 0 0% 98%; /* #fafafa */
    
    --card: 240 3% 16%; /* #28282b */
    --card-foreground: 0 0% 98%; /* #fafafa */
    
    --popover: 240 4% 10%; /* #19191a */
    --popover-foreground: 0 0% 98%; /* #fafafa */
    
    --primary: 285 87% 53%; /* #a020f0 */
    --primary-foreground: 0 0% 98%; /* #fafafa */
    
    --secondary: 240 4% 20%; /* #313133 */
    --secondary-foreground: 0 0% 98%; /* #fafafa */
    
    --muted: 240 4% 20%; /* #313133 */
    --muted-foreground: 0 0% 63.9%; /* #a1a1aa */

    --accent: 183 100% 72%; /* #7dfffa */
    --accent-foreground: 240 5% 10%; /* #18181b */
    
    --destructive: 0 72% 51%; /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */
    
    --border: 240 4% 20%; /* #313133 */
    --input: 240 4% 20%; /* #313133 */
    --ring: 183 100% 72%; /* #7dfffa */
    
    --radius: 0.5rem;
    
    --chart-1: 285 87% 53%;
    --chart-2: 183 100% 72%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
