@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 8%; /* #141414 */
    --foreground: 0 0% 98%; /* #fafafa */
    
    --card: 0 0% 11%; /* #1c1c1c */
    --card-foreground: 0 0% 98%; /* #fafafa */
    
    --popover: 0 0% 4%; /* #0a0a0a */
    --popover-foreground: 0 0% 98%; /* #fafafa */
    
    --primary: 0 63% 51%; /* #e54848 */
    --primary-foreground: 0 0% 98%; /* #fafafa */
    
    --secondary: 0 0% 15%; /* #262626 */
    --secondary-foreground: 0 0% 98%; /* #fafafa */
    
    --muted: 0 0% 15%; /* #262626 */
    --muted-foreground: 0 0% 63.9%; /* #a1a1aa */

    --accent: 0 0% 24%; /* #3d3d3d */
    --accent-foreground: 0 0% 98%; /* #fafafa */
    
    --destructive: 0 72% 51%; /* #ef4444 */
    --destructive-foreground: 0 0% 98%; /* #fafafa */
    
    --border: 0 0% 15%; /* #262626 */
    --input: 0 0% 15%; /* #262626 */
    --ring: 0 63% 51%; /* #e54848 */
    
    --radius: 0.5rem;
    
    --chart-1: 0 63% 51%;
    --chart-2: 0 0% 63.9%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
